body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  margin: 0px;
}
/* Nav Links */
.nav-links {
  list-style-type: none;
  display: flex;
  gap: 50px;
}

.nav-links li {
  display: inline;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav-links a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #d82a4e;
}
/* Login Section */
.login button {
  display: inline-block;
  min-width: 196px;
  text-align: center;
  border: none;
  padding: 15px 10px;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  color: #fff;
  cursor: pointer;
  background: #d82a4e;
}
.login button a {
  text-decoration: none;
  color: #fff;
}

.login button:hover {
  background-color: #ccc;
}

.login button::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.login button:hover::before {
  opacity: 1;
}
/* First Section */
.firstSection {
  background-image: url("./imgs/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.firstSectionText {
  flex: 1;
  text-align: center;
  padding: 50px;
  margin: 50px;
}

.firstSectionText h1 {
  font-size: 48px;
  margin-bottom: 20px;
  width: 100%;
}

.firstSectionText p {
  margin-bottom: 20px;
}

.firstSectionInput {
  justify-content: center;
}
/* First Section Form */
.firstSectionForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstSectionInput input {
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
  transition: border-color 0.3s ease; /* Smooth transition for underline */
  outline: none; /* Remove black box */
}

.firstSectionForm input:focus,
.firstSectionForm input:hover {
  border-bottom: 3px solid #d82a4e;
}

.firstSectionInput button {
  padding: 10px 50px;
  margin-bottom: 20px;
  margin-left: 50px;
  background-color: #d82a4e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
/* Course Categories */
.course-categories {
  padding: 40px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.course-categories .sectionHeader {
  margin-bottom: 40px;
}

.course-categories h1 {
  font-size: 32px;
  color: #333;
  margin-bottom: 10px;
}

.course-categories p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

/* Card Container */
.card-container {
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  max-width: 1200px;
}

/* Individual Card */
.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  width: 250px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card h3 {
  margin: 15px 0;
  font-size: 18px;
  color: #333;
}

.card:hover {
  background-color: rgb(207, 84, 84);
  transform: translateY(-10px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Search Course Section */
.search-course {
  background-color: #d82a4e; /* Red background color */
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  max-width: 800px;
}
.search-course-header h1 {
  font-size: 32px;
  color: #fff;
  margin-bottom: 10px;
}

.search-box {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
  margin: 10px 20px;
}
.search-box .search-course-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.search-input {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #333;
  font-size: 16px;
  outline: none;
  gap: 10px;
}

.search-course-form :hover,
.search-course-form :focus {
  border-bottom: 3px solid #d82a4e;
}

.search-button {
  display: inline-block;
  min-width: 196px;
  text-align: center;
  border: none;
  padding: 15px 10px;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  color: #fff;
  cursor: pointer;
  background: #d82a4e;
}

.search-button:hover {
  background-color: #c41f44;
  color: white;
}

.FeaturesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.featureContent h1 {
  font-size: 50px;
  font-weight: 600px;
  color: #333;
  margin-bottom: 5px;
}

.featureContent p {
  font-size: 20px;
  color: #666;
  line-height: 1.6;
}
.featureContent {
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  max-width: 1200px;
}

.featuresList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  max-width: 1200px;
  margin: 40px auto;
  padding: 40px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.featuresList li {
  display: inline;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  color: #666;
  line-height: 1.6;
  font-weight: 800;
}

.featuresList a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  transition: all 0.3s ease-in-out;
}

/* course - cards */

.course-cards {
  padding: 40px 20px;
  background-color: rgb(255, 255, 255);
}

.Course-Cards-Container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-bottom: 10px;
}

/* Card Styling */
.Course-Cards-Container-card {
  background: #e7e6e6;
  overflow: hidden;
  width: calc(33.333% - 20px);
  max-width: 350px;
}

/* Card Image */
.course-card-image {
  position: relative;
}

.course-card-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.price-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #d82d50;
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
}

/* Card Content */
.card-content {
  padding: 45px 33px 25px;
  text-align: left;
}

.card-content h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.card-content p {
  color: #666;
}

.card-content .students {
  color: #d82d50;
  font-weight: bold;
}

/* Instructor */
.instructor {
  border-top: 1px solid #d4dee1;
  padding: 14px 33px;
  display: flex;
  align-items: center;
}

.instructor img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 5px;
  object-fit: cover;
}

.instructor p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.instructor span {
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: #d82a4e;
}

/*  */
/*  */

/* Container with CSS Grid */
.two-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
  margin: 0 7.5%;
}

/* Styling for the left section */
.left-section {
  background-color: #d82a4e;
  padding: 10px;
  text-align: center;
  justify-content: left;
}

.left-section h2 {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 1px;
  font-size: 32px;
  color: #fff;
  margin: 20px;
  padding: 20px;
}

.left-section p {
  font-size: 16px;
  color: #fff;
  line-height: 1.6;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.form-container-signup {
  margin: 80px;
  background: #fff;
  padding: 60px;
}

.form-container-signup form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container-signup form input {
  height: 57px;
  padding: 0 30px;
  margin-bottom: 27px;
  float: left;
  border: none;
  font-size: 14px;
  font-weight: 500;
  background: #edf4f6;
  transition: border-color 0.3s ease; /* Smooth transition for underline */
  outline: none; /* Remove black box */
}

.form-container-signup form input:focus,
.form-container-signup form input:hover {
  border-bottom: 2px solid #d82a4e; /* Red underline on focus or hover */
}

.form-container-signup form button {
  display: inline-block;
  min-width: 196px;
  text-align: center;
  border: none;
  padding: 15px 10px;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  color: #fff;
  cursor: pointer;
  background: #d82a4e;
}

/* Styling for the right section */
.right-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Join community */

.join-community {
  margin: 50px;
  background-color: white;
  padding: 115px 0;
  display: flex; /* Use Flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column; /* Stack elements vertically */
  text-align: center; /* Center text content */
}

.join-community-container h2 {
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 1px;
  font-size: 32px;
  color: #333;
  margin: 20px 0;
  padding: 20px 0;
}

.join-community-container p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin: 20px 0;
  padding: 20px 0;
}

.join-community-container a {
  display: inline-block;
  min-width: 196px;
  text-align: center;
  border: none;
  padding: 20px 10px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  background: #d82a4e;
  text-decoration: none;
  margin-top: 20px; /* Add spacing above the button */
}

/* Footer Section */

.footer-section {
  border-top: 3px solid #d82a4e;
  padding: 40px 20px;
  background-color: #f9f9f9;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  text-align: left;
}

.footer-top ul {
  min-width: 200px;
}

.footer-top ul h4 {
  color: #474747;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-top ul li {
  color: #878787;
  list-style: none;
  line-height: 2rem;
}

.footer-top ul li a {
  text-decoration: none;
  color: #878787;
  transition: color 0.3s;
}

.footer-top ul li a:hover {
  color: #d82a4e;
}

.footer-bottom {
  text-align: center;
  margin: 20px;
  font-size: 14px;
}

.footer-bottom p {
  color: black;
  font-weight: bold;
}

.footer-bottom p span {
  color: #d82a4e;
}
