* {
  margin: 0px;
  padding: 0px;
}

#parent {
  width: 700px;
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
#trafficlight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#lights {
  width: 200px;
  height: 450px;
  box-sizing: border-box;
  padding: 20px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.light {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
}

#img {
  top: 350px;
  left: 600px;
  width: 150px;
  height: 200px;
  transform: scale();
  position: relative;
  animation-name: photo;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes photo {
  0% {
    left: 0px;
    right: 0px;
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    left: 200px;
    right: 0px;
  }
  100% {
    left: 0px;
    right: 0px;
  }
}
#red,
#green,
#yellow {
  transition: 0.5s;
}
#green:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 25px green;
}
#yellow:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 25px yellow;
}
#red:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 25px red;
}
