table {
  border-collapse: collapse;
  width: 50%;
  margin: 20px auto;
  font-family: "Arial", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #4caf50;
  color: white;
}
